body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

.file-upload-container {
    display: flex;
    align-items: center;
}

.file-upload-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.file-upload-label span {
    margin-right: 10px;
}

 audio {
    border-radius: 8px;
}

audio::-webkit-media-controls-panel {
    background-color: #1677ff;
    border-radius: 8px !important;

}

audio::-webkit-media-controls-play-button {
    background-color: #fff;
    border-radius: 50%;
    transition: .2s linear;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
    box-shadow: none;
}

audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
    color: #fff;
    box-shadow: none;
}

